<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function(){
    // binds form submission and fields to the validation engine
    jQuery("#edit_training_experience_<%= @training_experience.id%>").validationEngine();
  });

</script> 

			<div class="grid_12">
            	<div class="bottom-spacing">
                
                    
                    <div class="float-left">
                        <a href="<%= client_info_training_experiences_path(@info) %>" class="button">
                          <span>返回</span>
                        </a>
                    </div>
                    
                </div>
            </div>

<%= render 'form' %>
